:root {
  font-size: 19px;
  /* colors */
  --color-1: #070f2b;
  --color-2: #6eacda;
  --color-3: #ecfbff;
  --color-4: #009ef7;
  --color-5: #f37145;
}

body {
  background-color: var(--color-1);
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0.6rem;
  background-color: var(--color-5);
  border: 1px solid var(--color-5);
  color: var(--color-3);
  font-size: 0.9rem;
}

button:hover {
  cursor: pointer;
  border: 1px solid var(--color-3);
}

/* Hide number input arrows in Webkit browsers (Chrome, Safari, Edge) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input,
input:focus,
select,
textarea {
  border: none;
  outline: none;
  background-color: var(--color-1);
  color: var(--color-3);
  /* border-bottom: 1px solid var(--color-2); */
  box-shadow: 0 1px 0 0 var(--color-2);
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  transform: translateZ(0);
  will-change: transform;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
