:root {
  font-size: 19px;
  /* colors */
  --color-1: #070f2b;
  --color-2: #6eacda;
  --color-3: #ecfbff;
  --color-4: #009ef7;
  --color-5: #f37145;
}

body {
  background-color: var(--color-1);

  font-family: 'Open Sans', sans-serif;
  color: var(--color-3);
}

ul {
  list-style-type: none;
}

.button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem 0.6rem;
  background-color: var(--color-5);
  color: var(--color-3);
  font-size: 0.9rem;
}

.button:hover {
  cursor: pointer;
  border: 1px solid var(--color-3);
}
