.expense__container {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.expenses__navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 2rem auto;
  max-width: 600px;
}

.expenses__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.expenses__navigation button {
  padding: 0.1rem 0.2rem;
}

.expenses__navigation_date {
  width: 8rem;
  text-align: center;
  margin: 0;
}

.totalSpent {
  display: flex;
  justify-content: center;
}

.view-toggle {
  display: flex;
  align-content: center;
  gap: 1rem;
}

.view-toggle button.active {
  background-color: transparent;
  color: var(--color-5);
}

@media (max-width: 768px) {
  .expenses__navigation_container {
    flex-direction: column;
    gap: 1rem;
  }

  .expense__container {
    padding: 0 1rem;
  }
}
