.expense__container {
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.expenses__navigation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.expenses__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.expenses__navigation button {
  padding: 0.1rem 0.2rem;
}

.expenses__navigation_date {
  width: 8rem;
  text-align: center;
}

.totalSpent {
  display: flex;
  justify-content: center;
}

.view-toggle {
  display: flex;
  align-content: center;
  gap: 1rem;
}

.view-toggle button {
}

.view-toggle button.active {
  background-color: transparent;
  color: var(--color-5);
}
