.dailyTotal {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  color: var(--color-2);
}

.new-expense-highlight {
  background-color: #2f3b67;
}

.custom-delete-modal .modal-content {
  background-color: var(--color-3);
  /* color: var(--color-3); */
}

.detailedExpenses__buttons_container {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .custom-modal {
    max-width: 90vw;
    margin-left: 1rem;
  }
}
