.editExpense__container {
  max-width: 600px;
  margin: 0 auto;
}

.button__cancel {
  background-color: #c55065;
  border: 1px solid #c55065;
}

.button__save {
  background-color: #00b99d;
  border: 1px solid #00b99d;
}

@media (max-width: 768px) {
  .editExpense__container {
    padding: 0 1rem;
  }
}
