.addExpense__container {
  padding: 4rem 0;
  margin: auto;
}

.expense__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.newCategory__container {
  display: flex;
  gap: 1rem;
}

.newCategory__input {
  width: 100%;
}

.button__add {
  display: flex;
  align-self: center;
  padding: 0.3rem;
}

.showForm__button {
  width: 100%;
}

.expense__description_container {
  position: relative;
}

.expense__description {
  width: 100%;
  resize: none;
}

.char-counter {
  position: absolute;
  bottom: 6px;
  right: 10px;
  color: var(--color-2);
  font-size: 0.8rem;
}

.button__edit,
.button__delete {
  padding: 0.1rem 0.3rem;
}

.button__edit img,
.button__delete img {
  width: 1rem;
}

.button__delete {
  background-color: #c55065;
  border: 1px solid #c55065;
}
