.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--color-4);
}

.navbar {
  align-self: center;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.header__title {
  padding-bottom: 0.3rem;
  margin-right: auto;
}

.navbar__link:hover {
  color: var(--color-3);
}

.navbar__link.active {
  text-decoration: underline;
}
